
/*.droit{
    display: flex;
    flex-direction: row;
}*/

/*.deuxlignes{
        display: flex;
}*/


/*deuxlignes = 2 colone .  Sans class = 1 colone  et une ligne = .droit*/

/*SI C PLUS GRANG QUE 1599   class .droit

Si  c plus petit que 768   pas de class

Si c plus petit que 1599   class.deuxlignes
*/

/*
.section{
    background-color: #88c1d0;
    margin-bottom: 1%;
    margin-top: 1%;
    margin-right: 1%;
    margin-left: 1%;
    width: 4vw;
}




body {
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
}



main{
        flex-direction: row;
}
*/



/*
@media screen and (min-width: 1600px) {
  main {
    flex-direction: row;
  }
}

@media screen and (min-width: 768px) and (max-width: 1599px) {
  main {
    flex-wrap: wrap;
    width: 700px;
  }
}

@media screen and (max-width: 767px) {
  main {
    align-items: center;
    flex-direction: column;
  }
}*/



body {
    padding: 2vh;
}

.section {
    background-color: #88c1d0;
    width: 300px;
    height: 260px;
    margin: 20px;
}

@media screen and (min-width: 1600px) {
    body {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-evenly;
    }
}

@media screen and (min-width: 768px) and (max-width: 1599px) {
    body {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 0px 0px;
        grid-template-areas:
            ". ."
            ". .";
    }
}

@media screen and (max-width: 767px) {
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}