
/*.droit{
    display: flex;
    flex-direction: row;
}*/
body{
    flex-direction: column;
}

/*.deuxlignes{
        display: flex;
}*/


/*deuxlignes = 2 colone .  Sans class = 1 colone  et une ligne = .droit*/

/*SI C PLUS GRANG QUE 1599   class .droit

Si  c plus petit que 768   pas de class

Si c plus petit que 1599   class.deuxlignes
*/

.section{
    background-color: #88c1d0;
    margin-bottom: 1%;
    margin-top: 1%;
    margin-right: 1%;
    margin-left: 1%;
    width: 4vw;
}

